 

.avatar1-img {
    display: block;
    width: auto;
    /* prend sa largeur naturelle */
    height: auto;
    /* prend sa hauteur naturelle */
    max-width: 100%;
    /* pour ne pas dépasser la card */
    border-radius: 8px;

}